.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  display: flex;
  justify-content: center;
}

.results-table {
  display: flex;
  justify-content: center;
}

table {
  width: 25%;
}

th {
  padding-right: 8.333%;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  text-decoration: none;
  color: blue;
}