.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "navbar"
        "content";
    background-color: #2C394B;
}


.navbar {
    grid-area: navbar;
}


.content {
    display: flex;
    grid-area: content;
    margin: 5em;
    margin-left: 10em;
    flex-direction: column;
    justify-content: center;
}


.total-price {
    margin-left: 5em;
    color: white;
}

.order {
    margin-top: 2em;
}

a {
    color: white;
    text-decoration: none;
}


.view-order-btn {
    padding: .5em;
    background-color: #082032;
    color: white;
    text-decoration: none;
    border-radius: 1em;
}