.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "nav"
    "books";
}


.navbar {
    grid-area: nav;
}

.books-content {
    grid-area: books;        
}