.container {
    display: grid;
    grid-template-rows: auto max-content 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "nav nav"
        " search-form search-form "
        "filter-form books"
        "footer footer";

    background-color: #2C394B;
}

.filter-form {
    grid-area: filter-form;
    display: flex;
    flex-direction: column;
    margin-left: .2em;
}

.footer {
    grid-area: footer;
    background-color: #082032;
    height: 15vh;
}

.navbar {
    grid-area: nav;
}


.search-form {
    grid-area: search-form;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    width: 25%;
    margin-top: 1em;
    padding: .5em .5em;
    border-radius: 2em;
    border-color: #fff;
    border-style: solid;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1875em;
    height: 2.1875em;
    margin-top: 1em;
    border-radius: 50%;
    background-color: white;
    border-color: #fff;
    border-style: solid;
    margin-left: 0.5em;
}

.search-btn-img {
    width: 1.3125em;
}


.books-content {
    grid-area: books;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 1em;
    margin-left: 1em;

}

.book {
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    height: 17.75em;
    width: 10.125em;
}

.title-container {
    display: flex;
    justify-content: center;
}

.author-container {
    display: flex;
    justify-content: center;
}

.price-contatiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-link:visited {
    text-decoration: none;
}

.text-link {
    text-decoration: none;
    color: white;
    padding-top: .5em;
    max-width: 25ch;
}

.price {
    padding-left: .5em;
}


p,
s,
label,
span {
    color: white;
}