{% extends "base.html" %}
{% block head %}
{% load static %}
<title>Search For A Book</title>
<link rel="stylesheet" href="{% static "css/inventory/searchForm.css" %}">
{% endblock %}
{% block content %}

<div class="search-form">
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    <button type="submit">Search</button>
  </form>
</div>

<hr>
<div class="results-table">
  <table>
    <th>Title</th>
    <th>Author</th>
    <th>Update</th>
    <th>Delete</th>

    {% for i in selected_books %}
    <tr>
      <td><a href="#">{{i.title}}</a></td>
      <td><a href="#">{{i.author}}</a></td>
      <td><a href="{% url 'updateBook' id=i.id %}">Update</a></td>
      <td><a href="{% url 'deleteBook' id=i.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete </a></td>
    </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}