{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/accounts/register.css' %}">
{% endblock %}

{% block content %}
<div class="content">
<form method='POST' class="form">
<h1>Register</h1>

  {% csrf_token %}
  {% for field in registration_form %}
  <p>
    {{field.label_tag}}
    {{field}}
    {% for error in field.errors %}
  <p style="color: red">{{error}}</p>
  {% endfor %}
  </p>
  {% endfor %}

<div class="form-bottom">
  <button class="submit-btn" type="submit">Register</button>
</div>

</form>
</div>
{% endblock %}